* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark {
  --mainBG: black;
  --mainColor: white;
}

.light {
  --mainBG: white;
  --mainColor: black;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  background-color: var(--mainBG);
  color: var(--mainColor);
}